.bodyBefore {
  font-family: sans-serif;
  color: white;
  background-color: black;
}
.divBefore {
  display: inline;
}
.ulBefore {
  list-style-type: none;
}
.aBefore {
  text-decoration: none;
}
.aBefore:link {
  color: purple;
}
.aBefore:visited {
  color: purple;
}

.h3Before {
  text-align: center;
}

.redBefore {
  color: #FF0000;
}
.blueBefore {
  color: #00FFFF;
}
