.bodyBefore {
  font-family: sans-serif;
  color: white;
  background-color: black;
}

body {
  text-align: center;
  background-color: black;
}

.ulBefore {
  list-style-type: none;
}
.aBefore {
  text-decoration: none;
}
.aBefore:link {
  color: purple;
}
.aBefore:visited {
  color: purple;
}

.h3Before {
  text-align: center;
}

.redBefore {
  color: #FF0000;
  display: inline;
}
.blueBefore {
  color: #00FFFF;
  display: inline;
}

.yellowBefore {
  color: #cccc00
