body {
  text-align: center;
  font-family: sans-serif;
  color: white;
  background-color: black;
}

.ulBefore {
  list-style-type: none;
}
.aBefore {
  text-decoration: none;
}
.aBefore:link {
  color: purple;
}
.aBefore:visited {
  color: purple;
}

.redBefore {
  color: #F00;
  display: inline;
}
.blueBefore {
  color: #0FF;
  display: inline;
}
.orangeBefore {
  color: #eb0;
  display: inline;
}
.yellowBefore {
  color: #cc0;
  display: inline;
}
.ygBefore {
  color: #addd00;
  display: inline;
}
.greenBefore {
  color: #0c0;
  display: inline;
}

@keyframes rainbow {
  0% { color: red; }
  16% { color: orange; }
  33% { color: yellow; }
  50% { color: green; }
  66% { color: blue; }
  83% { color: violet; }
  100% { color: red; }
}
.rainbowBefore {
  animation: rainbow 5s linear infinite;
  display: inline;
}

.semicircle {
  width: 50%;
  height: 50%;
  border-radius: 50%;
  background-color: purple;
  background: linear-gradient(to top, rgba(128, 0, 128, 1), transparent);
  transform: translateY(50%);
}
